<h3>Weekdays</h3>

<ul class="weekdays form-control">
    @for(int i=0;i<7;i++)
    {
        int index = i;
        <li>
            <input type="checkbox" @bind="days[index]" @bind:after="Compress" id="@DAYNAMES[index]" /><label for="@DAYNAMES[index]">@DAYNAMES[index]</label>
       </li>
    }
</ul>
<div class="mb-3">
    <label for="learning_days" class="form-label">mask:</label> 
    <InputNumber id="learning_days" @bind-Value="mask" class="form-control" /> 
</div>

@code {
    readonly string[] DAYNAMES = { "Пн", "Вт", "Ср", "Чт", "Пт", "Сб", "Вс" };
    bool[] days = new bool[7];

    [Parameter]
    public Models.Group Group { get; set; }

    int mask = 0;
    void Compress()
    {
        mask = 0;
        for(int i = 0; i < 7; i++)
        {
            if(days[i])
                mask |= (byte)(1 << i) ;
        }
        Group.learning_days = mask;
    }

    void Extract()
    {
        for(int i = 0; i < 7; i++)
        {
            if ((Group.learning_days >> i & 1) != 0) days[i] = true;
        }
    }

    protected override void OnInitialized()
    {
        Extract();
        // base.OnInitialized();
    }
}
