@page "/directions"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Academy.Models
@using Academy.Models
@implements IAsyncDisposable
@inject IDbContextFactory<Academy.Models.Pd321Context> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="directions/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Directions">
    <PropertyColumn Property="direction => direction.DirectionName" />

    <TemplateColumn Context="direction">
        <a href="@($"directions/edit?directionid={direction.DirectionId}")">Edit</a> |
        <a href="@($"directions/details?directionid={direction.DirectionId}")">Details</a> |
        <a href="@($"directions/delete?directionid={direction.DirectionId}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private Pd321Context context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
