@page "/groups"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Academy.Models
@using Academy.Models
@implements IAsyncDisposable
@inject IDbContextFactory<Academy.Models.Pd321Context> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="groups/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Groups">
    <PropertyColumn Property="group => group.GroupName" />
    <PropertyColumn Property="group => group.Direction" />
    <PropertyColumn Property="group => group.LearningDays" />
    <PropertyColumn Property="group => group.StartTime" />

    <TemplateColumn Context="group">
        <a href="@($"groups/edit?groupid={group.GroupId}")">Edit</a> |
        <a href="@($"groups/details?groupid={group.GroupId}")">Details</a> |
        <a href="@($"groups/delete?groupid={group.GroupId}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private Pd321Context context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
